/* En app-user-card.component.scss */

ion-card-content p {
    font-size: 16px;
  }
  
  .header-title {
    color: #3498db; /* Azul para el título */
  }
  
  .messi-info {
    color: #2ecc71; /* Verde para la información de Messi */
  }
  
  .crsitiano-info {
    color: #e74c3c; /* Rojo para la información de Cristiano */
  }
  